/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* App Styles */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: white;
    color: #333;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

code, pre {
    background-color: #FAFAFA;
    border: none !important;
    display: block;
    margin: 10px;
    padding: 10px;
}

h1 {
    font-size: 32px;
    line-height: 120%;
}

/* Classes */

.avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 100px;
  margin: 0 auto 20px auto;
  width: 100px;
}

.bg {
  background-color: #00BCD4;
  height: 200px;
  position: fixed;
  width: 100%;
}

.button {
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: inline-block;
      height: 30px;
      font-size: 15px;
        line-height: 110%;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-rendering: optimizelegibility;
      white-space: nowrap;
      width: 100%;
      perspective-origin: 77px 23px;
      transform-origin: 77px 23px;
      background: rgba(0, 0, 0, 0) linear-gradient(rgb(55, 170, 234), rgb(17, 126, 210)) repeat scroll 0% 0% / auto padding-box border-box;
      border-top: 1px solid rgb(25, 146, 218);
      border-right: 1px solid rgb(19, 126, 198);
      border-bottom: 1px solid rgb(13, 106, 178);
      border-left: 1px solid rgb(19, 126, 198);
      border-radius: 3px;
      outline: rgb(255, 255, 255) none 0px;
      padding: 6px 16px 7px;
      margin-top: 20px;
    }

.card-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FAFAFA;
    height: 300px;
    margin-top: 250px;
    padding: 10px;
    width: 215px;
}

.info-container {
  background-color: white;
  max-width: 600px;
  margin: 10px;
  padding: 10px;
}

.instructions {
  margin-top: 50px;
}

.italic {
  font-style: italic;
}

.label {
  font-size: 18px;
  margin-bottom: 10px;
}

.rounded {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
   border-radius: 3px;
}

.shadow {
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.sub-title {
  color: #999;
  font-size: 16px;
}

.token-holder {
  margin-top: 350px;
  padding: 10px;
  width: 300px;
}

.token-wrapper {
  background-color: #00BCD4;
  padding: 10px;
}

.token {
  background-color: white;
  border: 1px dashed #CCC;
  color: #333;
  font-size: 14px;
  padding: 10px;
}

.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    margin-top: 50px;
}